# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# IntelliJ / IDE
.idea/
*.iml

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
.eslintcache

# Gradle / Backend
.gradle/
**/build/
backend/.gradle/
backend/build/


# Junie
.junie/
.vs/
.vscode/
.prettierignore
.prettierrc
